@media screen and (max-width:1280px) {
    .hero-title {
        font-size: 3rem;
    }

    .hero-description {
        font-size: 1.3rem;
    }

    .projects-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .project-title {
        font-size: 1.5rem;
    }
    
    .team-name {
        font-size: 1.7rem;
    }
}

@media screen and (max-width:992px) {
    .navbar {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .nav-logo img {
        display: none;
    }

    .hero-section {
        padding: 80px 50px;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .hero-content {
        width: 100%;
        text-align: center;
    }

    .hero-btn-container {
        justify-content: center;
    }

    .about-section {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .about-content {
        text-align: center;
    }

    .about-content .section-title {
        margin-bottom: 20px;
    }

    .about-img {
        text-align: center;
    }

    .about-img img {
        width: 60%;
    }

    .projects-container,
    .team-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-section {
        padding: 50px 20px;
    }

    .contact-img img {
        width: 100%;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
        justify-content: center;
    }

    .social-links-container {
        grid-column: 1 / span 2;
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
    }

    .menu {
        display: none;
    }

    .navbar .mobile-menu-open-btn {
        display: block;
    }

    .navbar .mobile-menu-open-btn {
        font-size: 1.7rem;
    }

    .hero-title {
        font-size: 2.7rem;
    }

    .hero-img {
        width: 80%;
        text-align: center;
    }

    .hero-img img {
        width: 100%;
    }
    
    .projects-container,
    .team-cards-container {
        grid-template-columns: 1fr;
    }

    .project-img,
    .project-content {
        text-align: center;
    }

    .contact-section {
        flex-direction: column;
        align-items: center;
    }

    .contact-img {
        width: 80%;
    }

    .contact-form {
        width: 100%;
    }

    .footer {
        padding: 80px 0px 50px;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }

    .social-links-container {
        grid-column: 1;
        text-align: left;
    }

    .social-links {
        justify-content: start;
    }

    .about-img img {
        width: 85%;
    }
}

@media screen and (max-width: 576px) {
    .logo-text {
        font-size: 1.5rem;
    }

    .hero-section,
    .about-section {
        padding: 50px 20px;
    }

    .hero-title {
        font-size: 2.3rem;
    }

    .hero-description {
        font-size: 1.2rem;
    }

    .hero-btn-container {
        flex-direction: column;
    }

    .hero-img,
    .about-img {
        width: 100%;
    }

    .team-section {
        padding: 50px 20px;
    }

    .team-name {
        font-size: 1.5rem;
    }

    .contact-img {
        width: 100%;
    }

    .contact-form-btn {
        margin-top: 30px;
    }

    .footer-paragraph {
        width: 100%;
    }

    .about-img img {
        width: 95%;
    }
    
}